@charset "UTF-8";

.subject {
  @include padding(140px $desktopBufferHorizontal 160px);
  position: relative;
  background: $bggray;

  &__title {
    @include margin(0 auto);
    display: block;
    max-width: 1800px;
  }

  &__boxs {
    @include margin(140px auto 0);
    max-width: $max-size;

    .buffer {
      @include padding($top: 15%);
    }
  }

  /// 박스
  &__box {
    @include position(relative);
    @include margin($top: 11.820199778024417%);

    &:after {
      display: block;
      clear: both;
      content: '';
    }

    // 첫번째 박스
    &--first {
      .scrollmagic-pin-spacer {
        max-width: 834px !important;
        max-height: 1250px !important;
      }
    }

    // 두번째 박스
    &--second {
      @include margin($top: -7.60266%);
    }

    // 세번째 박스
    &--third {
      @include margin($top: 10.549389567147614%);
      @include padding($bottom: 75%);
    }
  }

  /// 이미지
  &__image {
    @include position(relative);
    overflow: hidden;
    box-sizing: border-box;

    img {
      @include position(absolute, 0 null null 0);
      @include size(100%, auto);
    }

    // 첫번째 이미지
    &--first {
      @include size(55.9731543624161%, 81.09375vw);
      max-width: 834px !important;
      max-height: 1250px !important;
      margin: 0 !important;
    }

    // 두번째 이미지
    &--second {
      @include size(48.9%, null);
      @include padding($top: 38.7248322147651%);
      float: right;
      max-width: 730px !important;
    }

    // 세번째 이미지
    &--third {
      @include size(61.47651006711409%, null);
      @include padding($top: 41.67785234899329%);
      float: right;
      max-width: 916px !important;
    }
  }

  /// 텍스트
  &__text {
    color: $darkgray;
    letter-spacing: -1px;

    .title {
      font-family: $fontType2;
      font-size: 52px;
      line-height: 1.19;
    }

    .desc {
      @include margin($top: 47px);
      font-family: $fontBase;
      font-size: 22px;
      line-height: 1.63;

      &--sub {
        @include margin($top: 20px);
        font-family: $fontType2;
        font-weight: bold;
        line-height: 1.44;
        letter-spacing: 1px;

        span[lang=ko] {
          font-family: $fontBase;
          font-size: 20px;
          letter-spacing: initial;
        }
      }
    }

    // 첫번째 텍스트
    &--first {
      @include position(absolute, 58% null null 33.7%);
    }

    // 두번째 텍스트
    &--second {
      @include padding(49px 0 0 59.328859060402685%);
      clear: both;
      text-align: left;
      letter-spacing: -2px;
    }

    // 세번째 텍스트
    &--third {
      @include position(relative, $z-index: 1);
      @include padding(58px null null 38.52348993288591%);
      clear: both;
      text-align: left;
      letter-spacing: -2px;

      .desc {
        @include margin($top: 8px);

        &--sub {
          @include margin($top: 57px);
          font-family: $fontBase;
        }
      }
    }

    //
  }
}

/* **************************************** */
// 테플릿
/* **************************************** */
@include tablet {
  .subject {

    .title {
      font-size: 3vw;
    }

    .desc {
      font-size: 15px;

      &--sub {
        span[lang=ko] {
          font-size: 12px;
        }
      }
    }
  }
}

/* **************************************** */
// 모바일 
/* **************************************** */
@include mobile {
  .subject {
    @include padding(12.1% $mobileBufferHorizontal 20%);

    &__boxs {
      @include margin($top:14%)
    }

    /// 모바일 박스
    &__box {
      &--second {
        @include margin($top: 20.13888888888889vw);
      }
      &--third {
        @include margin($top: 22.22222222222222vw);
        @include padding($bottom: 0);
      }
    }

    /// 모바일 이미지
    &__image {

      // 모바일 첫번째 이미지
      &--first {
        @include size(100%, null);
        @include padding($top: 150.0777%);
        right: -$mobileBufferHorizontal;
      }

      // 모바일 두번째 이미지
      &--second {
        @include size(calc(100% + #{$mobileBufferHorizontal * 2}), null);
        @include margin($left: -$mobileBufferHorizontal);
        @include padding($top: 132.99120234604106%);
        float: none;
        max-width: none !important;
      }

      // 모바일 세번째 이미지
      &--third {
        @include size(100%, null);
        @include margin($top: -22.5vw);
        @include padding($top: 128.50467289719626%);
        left: -$mobileBufferHorizontal;

        img {
          @include position(absolute, $top: 0, $left: 0);
          @include size(100%, auto);
        }
      }
    }

    /// 모바일 텍스트
    &__text {
      text-align: center;

      .title {
        font-size: 7.2vw;
        line-height: 1.16;
      }

      .desc {
        // font-size: 3.88vw;
        font-size: 16px;
        line-height: 1.6;

        &--sub {
          // font-size: 3.88vw;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.515;

          span[lang=ko] {
            // font-size: 4.16vw;
            font-size: 16px;
          }
        }
      }

      // 모바일 첫번째 텍스트
      &--first {
        @include position(relative, 0, $z-index: 1);
        @include margin($top: -25.9vw);
        text-align: left;

        .desc {
          @include margin($top: 1.38vw);

          &--sub {
            @include margin($top: 8.75vw);
          }
        }
      }

      // 모바일 두번째 텍스트
      &--second {
        @include position(relative, 0, $z-index: 1);
        @include margin($top: 7.916666666666667%);
        @include padding(0);
        letter-spacing: 0;
        text-align: left;

      }

      // 모바일 세번째 텍스트
      &--third {
        @include padding(0);
        text-align: left;
        letter-spacing: 0;

        &.view-mo {
          @include padding(0 0 0 13vw);
        }

        .desc {
          @include margin($top: 0);
          @include padding($top: 3.19vw);
          
          &--sub {
            @include padding($top: 7.2vw);
            // font-size: 4.4vw;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      //
    }

    //
  }
}