<!DOCTYPE html>
<html lang="ko" class="page--about about">

<head>
  <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/head.html") %>
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/header.html") %>
    <!-- // header -->

    <!-- content -->
    <div class="container">
      <div class="content">
        <div class="about-section">
          <!-- Intro :: section -->
          <section class="about-intro">
            <h1 class="about-intro__tit">
              <span class="blind">About Magazine Tools</span>
            </h1>
            <div class="about-intro__img-box">
              <picture>
                <source media="(max-width: 768px)" srcset="<%=require('./src/img/about/m_about_img1.jpg').default%>">
                <img src="<%=require('./src/img/about/about_img1.jpg').default%>" class="about-intro__img" alt="">
              </picture>
            </div>
          </section>
          <!-- // about :: section -->
          <section class="about-content">
            <div class="about-content__tit-box">
              <h2 class="about-content__tit">
                <span class="blind">NARRATIVE Of THINGS</span>
              </h2>
              <strong class="about-content__tit-sub">도구의 서사</strong>
            </div>
            <div class="container--row">
              <p class="about-content__desc">
                매거진 툴즈는 매 호마다 하나의 도구(tool)를 선정하여
                집중 조명하는 매거진입니다. 일상 속 익숙한 혹은 애착의 도구가
                지닌 서사를 다양한 방식과 이야기로 탐구하고, 더욱 복잡해지는
                물질의 세계에서 도구의 본질을 새로운 관점으로 사유해보는
                경험을 전달합니다.
              </p>
              <p class="about-content__desc">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%=require('./src/img/about/m_about_img2.jpg').default%>">
                  <img src="<%=require('./src/img/about/about_img3.jpg').default%>" class="about-content__img" alt="">
                </picture>
                매거진에 담긴 이야기들은(narratives) '도구를 어떻게
                이해하는가'에 대한 대답이기도 합니다. 정해진 틀이나 방식이
                없이, 일상에 영감을 불어넣는 도구들을 새롭게 발견하는 시간을
                가져보시기 바랍니다.
              </p>
            </div>
          </section>
          <!-- // about :: section -->
          <!-- Info :: section -->
          <section class="about-info">
            <h3 class="blind">Contact / Office / Stockist</h3>
            <div class="about-info__img-box">
              <picture>
                <source media="(max-width: 768px)" srcset="<%=require('./src/img/about/m_about_img2.jpg').default%>">
                <img src="<%=require('./src/img/about/about_img2.jpg').default%>" class="about-info__img" alt="">
              </picture>
            </div>
            <div class="container--row">
              <dl class="about-info__list">
                <dt class="about-info__tit tit--contact">
                  <span class="blind">CONTACT</span>
                </dt>
                <dd class="about-info__desc">toolsmag@blankcorp.kr</dd>
                <dt class="about-info__tit tit--office">
                  <span class="blind">OFFICE</span>
                </dt>
                <dd class="about-info__desc">
                  서울 강남구 테헤란로 311 아남타워 4층<br>
                  4f, 311, Teheran-ro, Gangnam-gu, Seoul, <br class="view-pc">
                  Republic of Korea
                </dd>
              </dl>
              <dl class="about-info__list">
                <dt class="about-info__tit tit--stockist">
                  <span class="blind">STOCKIST</span>
                </dt>
                <dd class="about-info__desc">
                  <ul class="about-stockist__list">
                    <li class="about-stockist__item">
                      <strong class="about-stockist__name">서울</strong>
                      <p class="about-stockist__desc">
                        교보문고/ 영풍문고/ 알라딘/ 예스24/ 인터파크/ 땡스북스/ 스토리지북앤필름/ 아크앤북/ 스틸북스/
                        인덱스/ 오브젝트/ 1984/ 플라스크/ 믿음문고/ MTL/ WxDxH/ 종이잡지클럽/ 별책부록/ 번역가의 서재/ 책발전소 광교점/ 하이브로우/ 동아서점/
                        문우당서림/ 살림책방/ 고스트북스/ 어서어서/ 지나가다/ 북그러움/ 샵 메이커즈/ 이터널저니/ 올모스트/ 달행이 책방/ 책방무사 外 다수
                      </p>
                    </li>
                    <li class="about-stockist__item">
                      <strong class="about-stockist__name">해외</strong>
                      <p class="about-stockist__desc">
                        다이칸야마 츠타야/ 맥컬처/ 바실란도
                      </p>
                    </li>
                  </ul>
                  <em class="about-stockist__summary">
                    유통 및 재고 상황은 거래처 사정에 따라 달라질 수 있습니다. 보다 자세한 정보는 각 거래처 또는 &lt;매거진 툴즈&gt; 이메일 toolsmag@blankcorp.kr 로 
                    문의바랍니다.
                  </em>
                </dd>
              </dl>
            </div>
          </section>
          <!-- // Info :: section -->
        </div>
      </div>
    </div>
    <!-- // content -->

  </div>
</body>

</html>