<!DOCTYPE html>
<html lang="ko" class="page--main">

<head>
  <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/head.html") %>
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/header.html") %>
    <!-- // header -->

    <!-- content -->
    <div class="content">
      <div class="container">

        <!-- 비디오 영역 -->
        <div class="container--visual">
          <div id="visual" class="visual">
            <div class="visual__inner">
              <div id="visualVideoBox" class="visual__video-box">
                <video id="visualVideo" class="video" width="1920" height="1080" autoplay muted loop playsinline>
                  <source src="<%=require('./src/video.mp4').default%>" type="video/mp4" />
                  <source src="https://toolsmag.github.io/tooln/dist/src/video.mp4" type="video/mp4" />
                </video>
                <div id="videoMaskBox" class="mask">
                  <!-- Mask Ref -->
                  <svg>
                    <defs>
                      <mask id="visualVideoMaskRef">
                        <rect id="videoMaskRefBg" x="0" y="0" fill="#ffffff" width="100%" height="100%" />
                        <circle id="videoMaskTracker" cx="0" cy="0" r="0" fill="#000000" />
                        <g id="videoMaskCircles" fill="#000000">
                          <circle id="videoMaskCircleTemp" cx="0" cy="0" r="0" />
                        </g>
                      </mask>
                    </defs>
                    <rect id="visualVideoMask" fill="rgba(0,0,0,.85)" x="0" y="0" width="100%" height="100%"
                      mask="url(#visualVideoMaskRef)" />
                  </svg>
                  <!-- //Mask Ref -->
                </div>
              </div>
              <div class="visual__text-box">
                <span class="title">How many tools<br />did you use today?</span>
                <span class="desc">당신은 오늘 몇 가지의 도구를 사용했나요?</span>
              </div>
            </div>
          </div>
        </div>
        <!-- // 비디오 영역 -->

        <!-- 주제 영역 -->
        <div class="container--subject">
          <div id="subject" class="subject">
            <div class="subject__inner">
              <div id="subjectTitle" class="subject__title">
                <img src="<%=require('./src/img/main/main_subject_title.svg').default%>" alt="Narrative of Things" />
              </div>
              <div id="subjectBoxs" class="subject__boxs">
                <div id="subjectBox1" class="subject__box subject__box--first">
                  <div id="subjectImage1" class="subject__image subject__image--first">
                    <img src="<%=require('./src/img/main/main_subject1.jpg').default%>" alt="" />
                  </div>
                  <div id="subjectText1" class="subject__text subject__text--first">
                    <div class="title">
                      We become what we behold. <br class="view-mo">We shape <br class="view-pc">our tools and then <br class="view-mo">our tools shape us.
                    </div>
                    <div class="desc desc--sub view-mo">
                      <span>Marshall Mcluhan</span>
                    </div>
                    <div class="desc">
                      우리는 우리가 보는 대로 된다. <br class="view-pc">우리는 도구를 만들고, 그 도구는 다시 우리를
                      만든다.
                    </div>
                    <div class="desc desc--sub view-pc">
                      <span><span lang="ko">마샬 맥루한</span> Marshall Mcluhan</span>
                    </div>
                  </div>
                </div>
                <div class="view-pc buffer"></div>
                <div id="subjectBox2" class="subject__box subject__box--second">
                  <div id="subjectImage2" class="subject__image subject__image--second">
                    <img class="view-pc" src="<%=require('./src/img/main/main_subject2.jpg').default%>" alt="" />
                    <img class="view-mo" src="<%=require('./src/img/main/main_m_subject2.jpg').default%>" alt="" />
                  </div>
                  <div id="subjectText2" class="subject__text subject__text--second">
                    <div class="title view-pc">Narrative of Things</div>
                    <div class="desc">
                      매거진 TOOLS는 1년에 두 번, 우리의 삶을 바꾼 도구를 선정하여 탐구합니다. <br class="view-pc" />
                      일상 속 도구의 역사와 이야기, 그리고 우리 삶 속에서 도구가 지니게 될 의미를 <br class="view-pc" />
                      다양한 인물들과 브랜드의 목소리로 담아낸 잡지입니다.
                    </div>
                  </div>
                </div>
                <div class="view-pc buffer"></div>
                <div id="subjectBox3" class="subject__box subject__box--third">
                  <div id="subjectText4" class="subject__text subject__text--third view-mo">
                    <div class="title">
                      Thing that wash off every <br />small piece ofbad news <br />with faithful ritual.
                    </div>
                  </div>
                  <div id="subjectImage3" class="subject__image subject__image--third">
                    <img class="view-pc" src="<%=require('./src/img/main/main_subject3.jpg').default%>" alt="" />
                    <img class="view-mo" src="<%=require('./src/img/main/main_m_subject3.jpg').default%>" alt="" />
                  </div>
                  <div id="subjectText3" class="subject__text subject__text--third">
                    <div class="title view-pc">
                      Thing that wash off every small piece of <br />bad news with faithful ritual.
                    </div>
                    <div class="desc desc--sub">첫 번째 도구 <span class="view-pc">비누</span></div>
                    <div class="desc">
                      누군가에겐 매일의 기분 좋은 향기로, 누군가에겐 자신의 세계관을 담은 작품으로,
                      코로나를 이겨내는 <br class="view-pc" />
                      강력한 무기로 재조명되고 있는 비누. 매거진 TOOLS는 우리가 알고 있던 비누의
                      풍부한 이야기를 통해 <br class="view-pc" />
                      일상을 새롭게 사유합니다.
                    </div>
                  </div>
                </div>
                <div class="view-pc buffer aaa"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- // 주제 영역 -->

        <!-- 메인 아티클 영역 -->
        <div class="container--banners">
          <div class="banners">
            <div class="banners__inner">
              <div class="banner">
                <a href="./article.html?article1">
                  <span class="banner__inner">
                    <span class="banner__thumb">
                      <img class="view-pc" src="src/img/article/article1/banner.jpg" alt="" />
                      <img class="view-mo" src="src/img/article/article1/thumb.jpg" alt="" />
                    </span>
                    <span class="banner__info">
                      <span class="label">Article</span>
                      <span class="title"><span>일상의 존중, 봉태규와 하시시박</span></span>
                      <span class="desc">
                        배우이자 예능인 봉태규와 사진가 하시시박은 2014년에 처음 만났다.
                        두 사람이 만나 넷이 된 지금, 이들의 일상에는 서로 다른 존재의 공생, 
                        함께하는 삶을 이어주는 중요한 맥락으로 존중이 자리한다.
                      </span>
                      <span class="author"><strong>Editor</strong> Danbee Bae</span>
                      <span class="read view-mo">Read</span>
                    </span>
                  </span>
                </a>
              </div>
              <div class="banner">
                <a href="./article.html?article2">
                  <span class="banner__inner">
                    <span class="banner__thumb">
                      <img class="view-pc" src="src/img/article/article2/banner.jpg" alt="" />
                      <img class="view-mo" src="src/img/article/article2/thumb.jpg" alt="" />
                    </span>
                    <span class="banner__info">
                      <span class="label">Article</span>
                      <span class="title"><span>비누의 요원한 얼굴</span></span>
                      <span class="desc">
                        닳고 마른 비누가 희고 깨끗한 배경 가운데 누워 있다. 
                        얼마나 오래된 비누인지 짐작하기 어려운 것은 이 배경 때문이다.
                        언제나처럼, 비누는 흘러간 생을 담담히 보내고 내일의 미지를 기다리는 중이다.
                      </span>
                      <span class="author"><strong>Editor</strong> Danbee Bae</span>
                      <span class="read view-mo">Read</span>
                    </span>
                  </span>
                </a>
              </div>
              <div class="banner">
                <a href="./article.html?article3">
                  <span class="banner__inner">
                    <span class="banner__thumb">
                      <img class="view-pc" src="src/img/article/article3/banner.jpg" alt="" />
                      <img class="view-mo" src="src/img/article/article3/thumb.jpg" alt="" />
                    </span>
                    <span class="banner__info">
                      <span class="label">Article</span>
                      <span class="title"><span>대호탕의 시간</span></span>
                      <span class="desc">
                        서울특별시 강서구 월정로 30길 50. 1969년에 문을연 이래, 50년은 마치 씻겨 내려가는 
                        물처럼 빠르게 흘렀다. 세월의 무심함과는 달리 이곳을 지나쳐 간 사람 수는 셀 수 없을
                        정도다. 누군가의 걸음은 뜸해지거나 혹은 사라졌지만, 더러움을 씻어낸 이들의 말간 
                        뒷모습은 오래 기억할 만하다.
                      </span>
                      <span class="author"><strong>Editor</strong> Danbee Bae</span>
                      <span class="read view-mo">Read</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- //메인 아티클 영역 -->

        <!-- 서브 아티클 영역 -->
        <div class="container--articles"></div>
        <!-- //서브 아티클 영역 -->
      </div>
    </div>
    <!-- // content -->
    <!-- footer -->
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/footer.html") %>
    <!-- // footer -->
  </div>
</body>

</html>