<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
<title>TOOLS</title>
<meta name="description" content="매거진 TOOLS는 미디어 커머스 그룹 블랭크와 콘텐츠 출판 브랜드 로우프레스가 협업하여 만드는 매거진으로, 매 호 마다 우리의 삶을 편리하고 즐겁게 만든 도구를 선정해 집중적으로 조명합니다. 도구의 역사와 문화, 일상 속 도구가 지닌 의미와 가치를 다양한 시각으로 소개합니다.">
<link rel="icon" typp="image/png" size="32x32" href="./favicon-32x32.png">
<link rel="icon" typp="image/png" size="96x96" href="./favicon-96x96.png">
<link rel="icon" typp="image/png" size="16x16" href="./favicon-16x16.png">
<meta property="og:type" content="website">
<meta property="og:url" content="http://toolsmag.kr">
<meta property="og:site_name" content="TOOLS">
<meta property="og:title" content="TOOLS">
<meta property="og:description" content="도구의 역사와 문화, 일상 속 도구가 지닌 의미와 가치를 다양한 시각으로 소개합니다">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="640">
<meta property="og:image" content="http://toolsmag.kr/og_image.jpg">
<meta name="naver-site-verification" content="fa4d1f041e6ebcdf7605a6a3aed8d7d9649e9104" />
