<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
/>
<title>TOOLN</title>
<meta name="description" content="간략한 설명" />
<!-- 파비콘 <link rel="shortcut icon" href="./favicon.png"> -->
<!-- OG태그 -->
<!-- <meta property="og:type" content="website"> -->
<!-- <meta property="og:url" content="www.tooln.com"> -->
<!-- <meta property="og:site_name" content="Tooln"> -->
<!-- <meta property="og:title" content="제목"> -->
<!-- <meta property="og:description" content="설명글"> -->
<!-- <meta property="og:image:width" content="1280"> -->
<!-- <meta property="og:image:height" content="640"> -->
<!-- <meta property="og:image" content="https://SNS공유시_표시할_이미지_URL"> -->
<!-- -->
<meta name="naver-site-verification" content="fa4d1f041e6ebcdf7605a6a3aed8d7d9649e9104" />
