@charset "UTF-8";

/// 간결할게 요소의 여백을 설정할 수 있도록 도와줍니다.
///
/// @argument {list} $values
///   padding의 단축형 값
///
/// @argument {number} $top
///   padding-top 값
///
/// @argument {number} $right
///   padding-right 값
///
/// @argument {number} $bottom
///   padding-bottom 값
///
/// @argument {number} $left
///   padding-left 값
///   
///
/// @example scss
///   .element {
///     @include padding(null 20px 30px);
///   }
///   .element2 {
///     @include padding(20px, $left: 5px);
///   }
///
///   // CSS Output
///   .element {
///     padding-right: 20px;
///     padding-bottom: 30px;
///     padding-left:20px;
///   }
///   .element2 {
///     padding: 20px 20px 20px 10px;
///   }
///
/// @require {function} _extend-shorthand-directional
///
/// @require {function} _directional-property
///

@mixin padding(
  $values: null, 
  $top   : null, 
  $right : null, 
  $bottom: null, 
  $left  : null
) {
  $values: _extend-shorthand-directional($values, ($top $right $bottom $left));
  @include _directional-property(padding, null, $values);
}
